.lbl_txt {
    margin-top: 6px;
    list-style: none;
    background: lightblue;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.add_cl {
    color: #8c8a8a
}