<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/car.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../assets/housing.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../assets/personal.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>





<div class="container">
    <div class="spacer">
        <div class="row">
            <div class="col-lg-8  col-lg-offset-1">
                <div class="well">

                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="left-title">
                                Home Loan Amount
                            </span>
                            <input type="text" style="width:44%;float:right;" class="form-control" (blur)="tbupdate(0)"
                                [(ngModel)]="query.amount" placeholder="Loan Amount" name="pemi.highValue" />
                        </div>
                        <ngx-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()">
                        </ngx-slider>
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="left-title">
                                Interest Rate
                            </span>
                            <input type="text" style="width:44%;float:right;" class="form-control" (blur)="tbupdate(1)"
                                [(ngModel)]="query.interest" placeholder="Interest Rate" name="remi.highValue" />
                        </div>
                        <ngx-slider [(value)]="remi.value" [options]="roptions" (userChangeEnd)="update()">
                        </ngx-slider>
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="col-md-10">
                            <span class="left-title">Loan Tenure</span>
                            @if(yrToggel){
                            <input type="text" class="form-control" (blur)="tbupdate(2)" placeholder="Loan Tenure in Yr"
                                [(ngModel)]="query.tenureYr" style="width:30%;float:right;">
                            }
                            @if(!yrToggel){
                            <input type="text" class="form-control" (blur)="tbupdate(3)" placeholder="Loan Tenure in Mo"
                                [(ngModel)]="query.tenureMo" style="width:30%;float:right;">
                            }
                        </div>
                        <div class="col-md-2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" [ngClass]="{'active':yrToggel}"
                                    (click)="yrToggel=true;update()" type="button">Yr</button>
                                <button class="btn btn-outline-secondary" [ngClass]="{'active':!yrToggel}"
                                    (click)="yrToggel=false;update()" type="button">Mo</button>
                            </div>
                        </div>
                        @if(yrToggel){
                        <ngx-slider [(value)]="temi.value" [options]="toptions" (userChangeEnd)="update()">
                        </ngx-slider>
                        }
                        @if(!yrToggel){
                        <ngx-slider [(value)]="memi.value" [options]="moptions" (userChangeEnd)="update()">
                        </ngx-slider>
                        }
                    </div>


                </div>

            </div>
            <div class="col-lg-3">
                <div class="well">

                    <div class="jusify-center">
                        <h5>
                            Loan EMI
                        </h5>
                        <span class="result">
                            {{result.emi || "--"}}
                        </span>
                    </div>

                    <hr />

                    <div>
                        <h5>
                            Total Interest Payable
                        </h5>
                        <span class="result">
                            {{result.interest || "--"}}
                        </span>
                    </div>

                    <hr />
                    <div>
                        <h5>
                            Total Payment
                        </h5>
                        <h6>
                            (Principal + Interest)
                        </h6>
                        <span class="result">
                            {{result.total || "--"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>